**/resources/credentials/
**/githubprivate\.properties

**/bin/
**/target/

**/\.idea/
**/docker/data/
**/cloned-repos/
**/okhttp_cache/

**/*\.rar

**/src-gen
**/py-gen
**/activemq-data

*.pyc